In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/yinghaoz1/tmdb-movie-dataset-analysis/master/tmdb-movies.csv"

In [14]:
df = pd.read_csv(url)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB
None

In [15]:
print(df.head())

       id    imdb_id  popularity     budget     revenue  \
0  135397  tt0369610   32.985763  150000000  1513528810
1   76341  tt1392190   28.419936  150000000   378436354
2  262500  tt2908446   13.112507  110000000   295238201
3  140607  tt2488496   11.173104  200000000  2068178225
4  168259  tt2820852    9.335014  190000000  1506249360

                 original_title  \
0                Jurassic World
1            Mad Max: Fury Road
2                     Insurgent
3  Star Wars: The Force Awakens
4                     Furious 7

                                                cast  \
0  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1  Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2  Shailene Woodley|Theo James|Kate Winslet|Ansel...
3  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4  Vin Diesel|Paul Walker|Jason Statham|Michelle ...

                                            homepage          director  \
0                      http://www.jurassicworld.com/   Colin Trevorrow
1                        http://www.madmaxmovie.com/     George Miller
2     http://www.thedivergentseries.movie/#insurgent  Robert Schwentke
3  http://www.starwars.com/films/star-wars-episod...       J.J. Abrams
4                           http://www.furious7.com/         James Wan

                         tagline  ...  \
0              The park is open.  ...
1             What a Lovely Day.  ...
2     One Choice Can Destroy You  ...
3  Every generation has a story.  ...
4            Vengeance Hits Home  ...

                                            overview runtime  \
0  Twenty-two years after the events of Jurassic ...     124
1  An apocalyptic story set in the furthest reach...     120
2  Beatrice Prior must confront her inner demons ...     119
3  Thirty years after defeating the Galactic Empi...     136
4  Deckard Shaw seeks revenge against Dominic Tor...     137

                                      genres  \
0  Action|Adventure|Science Fiction|Thriller
1  Action|Adventure|Science Fiction|Thriller
2         Adventure|Science Fiction|Thriller
3   Action|Adventure|Science Fiction|Fantasy
4                      Action|Crime|Thriller

                                production_companies release_date vote_count  \
0  Universal Studios|Amblin Entertainment|Legenda...       6/9/15       5562
1  Village Roadshow Pictures|Kennedy Miller Produ...      5/13/15       6185
2  Summit Entertainment|Mandeville Films|Red Wago...      3/18/15       2480
3          Lucasfilm|Truenorth Productions|Bad Robot     12/15/15       5292
4  Universal Pictures|Original Film|Media Rights ...       4/1/15       2947

   vote_average  release_year    budget_adj   revenue_adj
0           6.5          2015  1.379999e+08  1.392446e+09
1           7.1          2015  1.379999e+08  3.481613e+08
2           6.3          2015  1.012000e+08  2.716190e+08
3           7.5          2015  1.839999e+08  1.902723e+09
4           7.3          2015  1.747999e+08  1.385749e+09

[5 rows x 21 columns]

In [16]:
# Data Cleaning
# Drop columns that are not needed: overview, homepage, imdb_id,  tagline
df.drop(["overview", "homepage", "imdb_id", "tagline"], axis=1, inplace=True)

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   popularity            10866 non-null  float64
 2   budget                10866 non-null  int64
 3   revenue               10866 non-null  int64
 4   original_title        10866 non-null  object
 5   cast                  10790 non-null  object
 6   director              10822 non-null  object
 7   keywords              9373 non-null   object
 8   runtime               10866 non-null  int64
 9   genres                10843 non-null  object
 10  production_companies  9836 non-null   object
 11  release_date          10866 non-null  object
 12  vote_count            10866 non-null  int64
 13  vote_average          10866 non-null  float64
 14  release_year          10866 non-null  int64
 15  budget_adj            10866 non-null  float64
 16  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(7)
memory usage: 1.4+ MB
None

In [18]:
# Replace Null values in columns 'cast, 'director', 'genres', 'production_companies', 'keywords' with 'Unknown'
df.fillna({'cast': 'Unknown', 
           'genres': 'Unknown', 
           'production_companies': 'Unknown', 
           'keywords': 'Unknown', 
           'director': 'No Director'}, inplace=True)

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   popularity            10866 non-null  float64
 2   budget                10866 non-null  int64
 3   revenue               10866 non-null  int64
 4   original_title        10866 non-null  object
 5   cast                  10866 non-null  object
 6   director              10866 non-null  object
 7   keywords              10866 non-null  object
 8   runtime               10866 non-null  int64
 9   genres                10866 non-null  object
 10  production_companies  10866 non-null  object
 11  release_date          10866 non-null  object
 12  vote_count            10866 non-null  int64
 13  vote_average          10866 non-null  float64
 14  release_year          10866 non-null  int64
 15  budget_adj            10866 non-null  float64
 16  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(7)
memory usage: 1.4+ MB
None

In [ ]:
# Handle duplicate rows
duplicated_movies = df.duplicated()
print(duplicated_movies.sum())  # Identify the number of duplicate rows
df.drop_duplicates(inplace=True)    # Drop duplicate rows
print(df.duplicated().sum())    # Verify that there are no more duplicate rows

1
0

In [37]:
# Convert release_date to datetime
df['release_date'] = pd.to_datetime(df['release_date'])
print(type(df['release_date'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
# Convert 'genres', 'cast', 'production_companies', 'keywords', 'director' to list
df['genres'] = df['genres'].apply(lambda x: x.split('|'))
df['cast'] = df['cast'].apply(lambda x: x.split('|'))
df['production_companies'] = df['production_companies'].apply(lambda x: x.split('|'))
df['keywords'] = df['keywords'].apply(lambda x: x.split('|'))
df['director'] = df['director'].apply(lambda x:x.split('|'))
print(df['genres'].head())

In [42]:
print(df['cast'].head())

0    [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1    [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2    [Shailene Woodley, Theo James, Kate Winslet, A...
3    [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4    [Vin Diesel, Paul Walker, Jason Statham, Miche...
Name: cast, dtype: object

In [46]:
# Convert 'release_date' to datetime
df['release_date'] = pd.to_datetime(df['release_date'], format="%m/%d/%y")

# Fix incorrect years (assuming all movies are before 2025)
df['release_date'] = df['release_date'].apply(lambda x: x - pd.DateOffset(years=100) if x.year > 2025 else x)

In [47]:
print(df['release_date'].value_counts())

release_date
2009-01-01    28
2008-01-01    21
2007-01-01    18
2005-01-01    16
2014-10-10    15
              ..
1966-12-16     1
1966-02-23     1
1966-05-05     1
1966-12-20     1
1966-11-01     1
Name: count, Length: 5909, dtype: int64

In [52]:
# Save the cleaned data to a new csv file
df.to_csv('data/cleaned_data.csv', index=False)